*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    
}

.header{
    background-color: #FFFAFA;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    color: #FF8807;
    font-size: 2rem;
    font-weight: bold;
}
.seven-heading{
    color: #0638FA;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-links a{
    color: #949BA0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover{
    background-color: rgba(77, 3, 3, 0.1);
    cursor: pointer;
}

.nav-right{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.nav-right input{
    width: 200px;
    height: 35px;
    display: flex;
    align-items: center;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: border-color 0.3s ease;
}

.nav-right input:focus{
    outline: none;
    border-color: #FF8807;
}

.nav-right a{
    color:#949BA0;
    text-decoration: none;
    border-radius: 5px;
}

.profilee img{
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit:cover;
}

.cart-btn img{
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit: cover;
}

.hero{
    background-color: #FFFAFA;
    min-height:calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10rem;
}

.hero-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.hero-text h2{
    font-size: 80px;
    color: #263238;
    text-align: left;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.reason-subheading{
    color: #FF8807;
}

.hero-text p{
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #4F5358;
    text-align: left;
}

.hero-button{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1rem 1rem;
    text-decoration: none;
    border-radius: 35px;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: #263238;
}
.hero-button a{
    text-decoration: none;
    color: white;
}

.hero-button:hover{
    background-color: #FF8807;
    transform: translateY(-2px);
}

.hero-image img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.footer{
    background-color: #FF8807;
    color: white;
    padding: 1.52rem 1rem;
}


.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.footer-section h4{
    color: white;
}

.hero-second{
    background-color: white;
    min-height:calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10rem;
}
.main-image img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-top: 200px;
}

.main-text h3{
    color: #263238;
    font-size: 2.5rem;
    text-align: left;
    line-height: 1.2;
    margin-top: 170px;
    margin-bottom: 10px;
}

.main-text .des{
    color:#4F5358;
    text-align: left;
}

.price-discount{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /* border: 1px solid black */
}

.price{
    width: 40%;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #0038FF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F5FF;
    /* border: 1px solid red; */
    padding: 7px auto;
}

.discount h4{
    color: rgba(44, 198, 44, 0.943);
    text-align: left;
    margin-left: -150px;
    
}
.discount p{
    color: #4F5358;
    text-align: left;
    margin-left: -150px;
    line-height: 1;
}

.quantity-cart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.quantity{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #F3F5FF;
    padding: 15px 10px;
    outline: none;
}

.quantity select{
    border: none;
}


.cart-button{
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #FF8807;
    font-weight: bold;
    border-radius: 5px;
    margin-left: -210px;
    transition: transform 0.3s ease;
}

.cart-button a{
    text-decoration: none;
    color: white;
   
}

.cart-button:hover{
    background-color: #7a7a7a;
    transform: translateY(-2px);
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer-image{
    color: white;
} 

.footer-image-content{
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px;
}

.footer-image-section img{
    height: 150px;
    width: auto;
    border-radius: 10px;
    outline: 1px solid #ddd;
}

.left-container{
    width: 600px;
    height: 500px;
}

.left-head{
    color:#4F5358;
    display: flex;
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.cart-table{
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td{
    padding: 15px;
    text-align: left;
}

.cart-table th{
    color:#4F5358;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.cart-table td{
    color:#263238;
}

.right-container{
    width: 400px;
    height: 300px;
}

.card{
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 25px;
    background: white;
    color: #263238;
}

.card p{
    text-align: left;
    margin-bottom: 5px;
}

.card input{
    width: 60%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-left: -5px;
}

.apply{
    width: 40%;
    padding: 12px 5px;
    border: none;
    border-radius: 10px;
    background: #2f80ed;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



.card table{
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    text-align: left;
}

.card table td{
    padding: 10px 0;
    color: #4F5358;
}

.card table td:last-child{
    text-align: right;
    font-weight: 600;
}

.total-row td{
    font-size: 1.4rem;
    font-weight: bold;
    color: #263238;
}

.pay{
    width: 100%;
    margin-top: 25px;
    padding: 18px;
    border: none;
    border-radius: 15px;
    background: #F9A23B;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.payment-title img{
    width: 80px;
    height: auto;
}

.arrow-back{
    max-width: 1200px;
    margin: 2rem auto;
    background-color: transparent;
}

.continue-shop a{
    text-decoration: none;
    color: #4F5358;
    font-weight: bold;
    font-size: 1.4rem;
    transition: 0.3s;
}

.continue-shop a:hover{
    color: #FF8807;
    cursor: pointer;
}


.checkout-page{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid: 60px;
    max-width: 1200px;
    margin: 0px auto;
    padding: 40px;
    gap: 2rem;
}

.check-heading p{
    color: #A0A7AF;
    font-size: 1rem;
    margin-bottom: 30px;
}

.contact-heading p,
.payment p{
    color:#263238;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-heading label{
    display: block;
    color: #4F5358;
    margin-bottom: 4px;
}

.contact-heading input{
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 20px;
}

.payment-card{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.payment-options{
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.payment-options p{
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px 25px;
    color: #4F5358;
    cursor: pointer;
}

.payment-options p:first-child{
    border: 2px solid #FF8807;
    color: #FF8807;
}

.card-details,
.expiry,
.cvv,
.country,
.zip{
    margin-bottom: 15px;
}

.card-details p,
.expiry-cvv p,
.country-zip p,
.card-check p{
    color:#263238;
}
.card-details input{
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.expiry-cvv,
.country-zip{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.expiry input,
.cvv input,
.zip input{
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.country select{
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.order-head-check p{
    font-size:2.5rem;
    font-weight:700;
    color:#263238;
    text-align:left;
    margin-bottom:20px;
}

.card-check{
    width: 100%;
    border:1px solid #ddd;
    border-radius:20px;
    padding:25px;
    background:#fff;
}

.card-check .coupon-row input{
    width: 58%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    flex: 1;
}

.apply-check{
    width: 38%;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background: #2F80ED;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card-check .coupon-row{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.order-summary table{
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
}

.order-summary td{
    padding: 12px 0;
    color: #4F5358;
}

.order-summary tr{
    height: 45px;
}

.order-summary td:last-child{
    text-align: right;
    font-weight: bold;
}

.total-row td{
    font-size: 1.8rem;
    font-weight: 700;
    color: #263238;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

.pay-check{
    width: 100%;
    padding: 20px;
    margin-top: 25px;
    border: none;
    border-radius: 15px;
    background: #F9A23B;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pay-check:hover{
    background-color: #e68a00;
    transform: translateY(-2px);
}

.payment-title-check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.payment-title-check img{
    width: 80px;
    height: auto;
}

.mainpage {
    position: relative;  
    height: 100vh;       
    overflow-y: scroll;  
}

